{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

    <section class="container-fluid section_1">

        <div class="bloc_text">
            
            <div class="typewriter">
                
                <h2>Pottery Studio</h2>
            
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad incidunt debitis nobis doloremque enim.</p>

            <button class="btn_boutique"><a href="#">Boutique</a></button>

        </div>

    </section>

    <section class="container-fluid section_2">
    
        <div>
        
        
        </div>
    
    </section>

{% endblock %}