{% extends 'base.html.twig' %}

{% block title %} | À propos {% endblock %}

{% block body %}

<!-- balise <code> : représente un fragment de code machine. -->

<div>
    <h3>Je m'appelle <span class="texte_jaune">Alison</span>, j'ai 27 ans et je recherche</h3>
</div>

<div class="typewrite">
    <h3>une alternance en <span class="texte_jaune">développement web !</span></h3>
</div>

<div>
    
</div>

{% endblock %}
